{% extends 'maleteo.html.twig' %}

{% block title %}Login Maleteo
{% endblock %}

{% block body %}
	<main>
		<div>
			<div class="wrapper">
				<div class="container-fluid">
					<div class="row">
						<a href="{{ path('maleteo-home') }}">Página principal ></a>
						<div class="jumbo col-md-12"></div>
						<div class="col-md-12">
							<form method="post">
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}
								{% if app.user %}
									<div class="mb-3">
										Ha ingresado como:
										{{ app.user.username }},
										<a href="{{ path('app_logout') }}">Logout</a>
									</div>
								{% else %}
									<div class="row">
										<div class="col-md-6">
											<h1 class="the-form__title heading3">Ingrese con su cuenta o
												<a href="{{ path('register') }}">regístrese</a>:</h1>
											<div class="the-form__group">
												<label for="inputUsername">Nombre de usuario</label>
												<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="the-form__input" required autofocus></div>
											<div class="the-form__group">
												<label for="inputPassword">Contraseña</label>
												<input type="password" name="password" id="inputPassword" class="the-form__input" required>
											</div>
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
											<button class="btn btn-lg btn-primary" type="submit">
												Sign in
											</button>
										</div>
									</div>
								{% endif %}

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
