{% extends 'maleteo.html.twig' %}

{% block title %}Login Maleteo
{% endblock %}

{% block body %}
	<main>
		<div>
			<div class="wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8">
							<a href="{{ path('maleteo-home') }}">Página principal ></a>
							<form method="post">
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								{% if app.user %}
									<div class="mb-3">
										Ha ingresado como:
										{{ app.user.username }},
										<a href="{{ path('app_logout') }}">Logout</a>
									</div>
								{% else %}
									<div class="row">
										<div class="col-md-12">
											<h1 class="h3 mb-3 font-weight-normal">Por favor, ingrese con su cuenta o
												<a href="{{ path('register') }}">regístrese</a>:</h1>
											<label for="inputUsername">Username</label>
											<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
											<label for="inputPassword">Password</label>
											<input type="password" name="password" id="inputPassword" class="form-control" required>

											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
											<button class="btn btn-lg btn-primary" type="submit">
												Sign in
											</button>
										</div>
									</div>
								{% endif %}

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
