{% extends 'maleteo.html.twig' %}
{% block title %}Demos Maleteo
{% endblock %}
{% block body %}
	<main>
		<div class="row">
			<a class="breadcrumb-links col-md-offset-2 col-md-1" href="{{ path('maleteo-home') }}">Página principal ></a>
			<a class="breadcrumb-links col-md-1" href="{{ path('showOpiniones') }}">Opiniones ></a>
		</div>
		<div class="jumbo"></div>
		<div class="wrapper">
			<div class="container-fluid">
			<h1 class="user-demos">Estas son las solicitudes de demo de nuestros usuarios:</h1>
				<div class="row">
					<div class="col-md-12">
						<ul class="row">
							{% for dem in demos %}
								<li class="col-md-3">
									<div class="opinion">
										<h3 class="opinion__blq simple-bubble text-large">{{ dem.nombre }}</h3>
										<p class="opinion__author text-large">{{ dem.email }}</p>
										<p class="opinion__author-address">{{ dem.ciudad }}</p>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}